@page
@using Microsoft.Extensions.Localization
@using TodoListModule.Localization
@using TodoListModule.Web.Pages.TodoListModule
@model TodoListModule.Web.Pages.TodoListModule.IndexModel
@inject IStringLocalizer<TodoListModuleResource> L

@{
}
<h1>TodoListModule</h1>
<p>@L["SamplePageMessage"]</p>
